@media screen and (max-width: 767px) {
  /* *Css du Header */

  header {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  header a {
    padding: 0;
  }

  #logo {
    height: 65px;
    margin: 15px 0;
  }

  nav {
    width: 100%;
  }

  nav a {
    width: 50%;
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  /* *Css du bloc main (first section) */

  main {
    padding: 0px;
  }

  .title_first h1,
  .title_first p {
    padding: 5px 20px;
  }

  /* *Css de la barre de recherche*/

  .search_zone {
    padding: 0 20px;
  }

  .loc_icon {
    width: 15%;
  }

  input {
    width: 70%;
  }

  button {
    display: none;
  }

  #mobile_button {
    display: flex;
    width: 15%;
  }

  /* *Css de la barre des filtres*/

  .filter_list {
    padding: 0 20px;
    gap: 0;
  }

  .filter_box {
    margin-right: 0px;
  }

  .info {
    padding: 0 20px;
  }

  /* * Css du bloc "Hébergements Marseille" (second section) */

  .second_section {
    flex-direction: column-reverse;
    gap: 0;
    padding: 25px 0px;
  }

  .bloc_lodging {
    background-color: white;
    width: 100%;
    gap: 20px;
  }

  .title_lodging {
    padding: 0 20px;
  }

  .lcard_list {
    flex-direction: column;
    padding: 0 20px 0 20px;
    row-gap: 20px;
  }

  .lcard {
    width: 100%;
  }

  .more_content {
    padding: 0 20px;
    margin-block-end: 20px;
  }

  .bloc_famous {
    width: 100%;
    border-radius: 0;
    padding: 0 20px;
  }

  .fcard_list {
    gap: 20px;
  }

  /* * Bloc "Activités à Marseille" (Third section) */

  .title_activity {
    padding: 0 20px 0 20px;
  }

  .activity_list {
    flex-direction: column;
    height: auto;
  }

  .activity_1,
  .activity_2,
  .activity_3,
  .activity_4 {
    width: auto;
    flex: 1;
    padding: 15px 20px;
  }

  .big_card,
  .medium1_card,
  .small1_card,
  .small2_card,
  .medium2_card {
    height: 200px;
  }

  .bigacard_img,
  .medium1_img,
  .small1_img,
  .small2_img,
  .medium2_img {
    height: 140px;
  }

  /* * Bloc footer */

  footer {
    padding: 30px 20px;
  }

  .footer_list {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
}
