* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1,
h3,
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header {
    display: flex;
    height: 75px;
    padding: 0 50px;
}

header a {
    width: auto;
    flex: 1;
    height: 100%;
    padding: 25px 0 0 0;
}

#logo {
    height: 100%;
    width: auto;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

nav a {
    height: 100%;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgba(0, 0, 0, 0);
}

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

main {
    padding: 0 50px;
    margin: 20px 0;
}

.title_first {
    margin: 25px 0;
}

.title_first h1 {
    font-size: 24px;
    /* margin: 0; */
}

.title_first p {
    font-size: 17px;
    margin: 0;
}

.search_zone {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loc_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    min-width: 55px;
    height: 100%;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
}

input {
    width: 240px;
    height: 100%;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 0 0 0 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

input::placeholder {
    color: black;

}

input:focus {
    outline: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 135px;
    height: 100%;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#mobile_button {
    display: none;
}

.filter_list {
    display: flex;
    align-items: center;
    margin: 25px 0;
    gap: 30px;
    height: 50px;
}

.filter_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.filter_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}

.filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    left: -2px;
}

.filter_name {
    font-size: 18px;
    font-weight: 700;
    padding: 0 15px 0 55px;
}

.filter_box:hover {
    transform: scale(1.05);
    color: #0065FC;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    gap: 5px;
}

.info p {
    font-size: 15px;
}

.info_icon {
    height: 100%;
    min-width: 25px;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

/* 
* Css du bloc "Hébergements Marseille"
*/

.second_section {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.bloc_lodging {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title_lodging {
    padding: 0 40px;
}

.title_lodging h3 {
    font-size: 22px;
    font-weight: 700;
    margin-block-start: 40px;
}

.lcard_list {
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}

.lcard {
    width: 30%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: -4px 4px 11px 5px rgb(0 0 0 / 20%);

}

.lcard:hover {
    transform: scale(1.02);
}

.lcard_img {
    width: auto;
    flex: 1;
    height: 65%;
    overflow: hidden;
    padding: 5px;
}

.lcard_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.lcard_content {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px 10px 15px;
}

.lcard_content h3 {
    font-size: 16px;
    font-weight: 700;
}

.lcard_content p {
    font-size: 15px;
}

.lcard_rating {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.blue_star {
    color: #0065FC;
}

.grey_star {
    color: #f2f2f2;
}

.more_content {
    padding: 0 40px;
    font-weight: 700;
    font-size: 19px;
}

/* 
* Css du bloc "Les plus populaires"
*/

.bloc_famous {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 32%;
    padding: 0 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.top_famous {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_famous h3 {
    font-size: 22px;
    font-weight: 700;
    margin-block-start: 40px;
}

.fcard_list {
    margin-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fcard {
    width: auto;
    flex: 1;
    height: 145px;
    background-color: white;
    border-radius: 20px;
    box-shadow: -4px 4px 11px 5px rgb(0 0 0 / 20%);
}

.fcard:hover {
    transform: scale(1.02);
}

.fcard a {
    display: flex;
    height: 100%;
    width: 100%;
}

.fcard_img {
    width: 40%;
    height: 100%;
    overflow: hidden;
    padding: 5px 20px 5px 5px;
}

.fcard_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.fcard_content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 20px 0 0;
}

.fcard_content h3 {
    font-size: 16px;
    font-weight: 700;
}

.fcard_content p {
    font-size: 15px;
    padding-top: 5px;
}

.fcard_rating {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding: 40px 0 10px 0;
}

/* 
* Css du footer
*/

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    padding: 30px 50px;
}

.footer_list {
    display: flex;
    gap: 300px;
}

.footer_section a {
    padding-bottom: 10px;
}

.footer_section h3 {
    padding-bottom: 15px;
}

.footer_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}